@model GameStore.Domain.Entities.Game

@{
	ViewBag.Title = "Добавить в избранное";
}

<h2>Добавить в избранное</h2>

<div>
	<h4>@Model.Name</h4>
	<p>@Model.Description</p>
	<p>
		<a href="@Url.Action("RemoveFromFavorites", "Game", new { gameId = Model.GameId })" class="btn btn-danger" role="button">Удалить из избранного</a>
	</p>
</div>